<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- bootstrap
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    //-----------------------------------------------------------------------------
    //- Fonts
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Poppins', rel='stylesheet')
    //- animate
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css")
    //-===============================================================================================-
    //- hamburgers.css
    link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css")
    //--===============================================================================================--
    //- select2
    link(rel="stylesheet", type="text/css", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js")
    //- -===============================================================================================-
    link(rel="stylesheet", type="text/css", href="css/util.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    title 
      block title
  body
    block content