extends ./common
block title
  h1 Users List
block content
  div.form-group
    form(action="/users/search", method="get")
      input(type="text", name="q").mr-1
      button.btn.btn-primary Search 
      br
      small.form-text.text-muted
        a(href="/users/create") Add a new user
  ul
    each user in users
      li
        a(href="/users/profile/" + user.id)=user.name