
html 
  head 
    title My PUG templete
  body

    h1 Title here
    div.container 
    
    
      h2.header PUG file of #{myName}
        br
        a(href= "#") Click to enter Lipsum world
      p(style="font-size:14px; font-family:sans-serif") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
