h1 Users List
form(action="/users/search", method="get")
  input(type="text", name="q")
  button Search
  br
  a(href="/users/create") Add a new user
ul
  each user in users
    li
      a(href="/users/profile/" + user.id)=user.name